@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Mode (Default) */
body {
  @apply font-sans bg-white text-gray-900 ; /* Light background & dark text */
}

a {
  padding: 0;
  margin: 0;
  color: #0059ff; /* A professional blue shade */
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #0156a5; /* Darker shade on hover */
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  body {
    @apply bg-white text-white;
  }
}

/* Header Animation */
.header-slide-in {
  transition: transform 0.3s ease-in-out;
}

.header-hidden {
  transform: translateY(-100%);
}

.header-visible {
  transform: translateY(0);
}

/* Form Inputs Styling */
input, textarea {
  @apply p-3 border border-gray-300 rounded w-full;
  transition: border-color 0.3s ease-in-out;
}

input:focus, textarea:focus {
  @apply border-blue-500 outline-none;
}

/* Buttons */
button {
  @apply bg-blue-600 text-white p-3 rounded;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  @apply bg-blue-700;
}

/* Utility Classes */
.container {
  @apply mx-auto px-4 max-w-7xl;
}
