@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply font-sans bg-white text-gray-900 leading-relaxed text-base;
}

a {
  @apply transition-colors duration-300 ease-in-out;
  color: #0A84FF;
  padding: 0;
  margin: 0;
}

a:hover {
  color: #0059CC;
}

/* Buttons */
button {
  @apply bg-[#0A84FF] text-white font-semibold py-3 px-6 rounded-2xl shadow-md transition-transform transform hover:scale-105;
}

button:hover {
  @apply bg-[#0066FF];
}

input, textarea {
  @apply p-3 border border-gray-300 rounded w-full transition-colors duration-300 ease-in-out;
}

input:focus, textarea:focus {
  @apply border-[#0A84FF] outline-none shadow-sm;
}


@media (prefers-color-scheme: dark) {
  body {
    @apply bg-[#111111] text-gray-100;
  }

  a {
    color: #0A84FF;
  }

  a:hover {
    color: #0A7BFF;
  }

  button {
    @apply bg-[#0A84FF] text-white;
  }

  button:hover {
    @apply bg-[#0066FF];
  }

  input, textarea {
    @apply bg-[#1C1C1E] text-white border-gray-600;
  }
}

